@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Source Code Pro;
}
header{
  background-color: black;
  width: 100%;
}
.logo{
  height: 90px;
}
.logo img{
  width: 99%;
  padding: 0px;
  margin: 0px;
  transition: 2.5s;
}
.logo img:hover{
  filter: invert(100%);
  transition: 2.5s;
}
header ul{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
header li{
  display: flex;
  align-items: center;
  list-style: none;
}
.logo{
  width: 100px
}
header a{
  width: 100px;
}
.meny{
  margin:0px 30px 0px 0px;
  display: flex;
  align-items: center;
}
.menu a{
border: none;
display: block;
text-align: center;
cursor: pointer;
text-transform: uppercase;
outline: none;
overflow: hidden;
position: relative;
font-weight: 600;
font-size: 15px;
padding: 10px 20px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.menu a span{
position: relative;
z-index: 1;
}
.menu a:after {
content: "";
position: absolute;
left: 0;
top: 0;
height: 490%;
width: 140%;
background: yellow;
transition: all 0.5s ease-in-out;
transform: translateX(-15%) translateY(-85%) rotate(45deg);
}
.menu a:hover:after {
transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.menu{
  display: flex;
  margin:0px 30px 0px 0px;
}
.menu a{
  clear:right;
  text-decoration:none;  
  color: grey;
  line-height:70px;
}
label{
  margin:0px 40px 0px 0px;
  font-size:26px;
  line-height:70px;
  display:none;
  width:26px;
  float:right;
}
#toggle{
  display:none;
}
footer{
  background-color: black;
  width: 100%;
}
footer li{
  list-style: none;
  color: white;
}
footer ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
#zegar{
  font-size: 20px;
  display: flex;
  margin-right: 20px;
  color: white;
}
#zegar div{
  display: flex;
  align-items: center;
}
.content h2{
  text-align: center;
  font-size: 50px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: magenta;
}
article img{
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
article .info{
  width: 50%;
}
article a{
  display: flex;
  margin-bottom: 50px;
  width: 90%;
  background-color: #ffdf00;
  padding: 5px;
  border-radius: 10px;
  border: grey 1px solid;
}
article{
  display: flex;
  justify-content: center;
}
.info h1{
  font-size: 30px;
}
.info h2{
  font-size: 20px;
  text-align: unset;
}
.info{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info .data{
  color: grey;
}
article2{
  display: flex;
  justify-content: center;
}
.akt{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  border-radius: 20px;
  color: whitesmoke;
  padding: 10px;
}
.wiad h2{
  font-size: 25px;
}
.imgg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.akt img{
  width: 50%;
  border: #ffdf00 2px solid;
}
.info2{
  color: gray;
  font-size: 20px;
}
.info2 h2{
  text-align: unset;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  header{
    background-color: white;
}
label{
    display:block;
    cursor:pointer;
}
article a{
  display: flex;
  flex-direction: column;
}
.od{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200%;
}
.od h1{
  font-size: 20px;
}
.od h2{
  font-size: 15px;
}
.menu{
    margin-top: 90px;
    position: absolute;
    background-color: aliceblue;
    width:100%;
    text-align:center;
    display:none;
}
.menu a{
    display:block;
    border:1px solid grey;
    margin:0px;
    width: 100%;
    padding: 0px;
}
#toggle:checked+.menu{
    display:block;
}
.menu a {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: gray;
    font-weight: 600;
    font-size: 15px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.menu a span {
    position: relative;
    z-index: 1;
}

.menu a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: yellow;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.wiad h2{
  font-size: 15px;
}
.info2{
  font-size: 15px;
}
.info2 h2{
  font-size: 15px;
}
.menu a:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.meny{
width: 100%;
}
header{
    display: flex;
    width: 100%;
    height: 110px;
  }
  header ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  header .logo{
    order: 1;
    position: absolute;
  }
  header #zegar{
    order: 2;
    display: none;
  }
  header .meny{
    order: 3;
    display: block;
    margin: 0px;
    padding: 0px;
  }
  header .menu{
    margin-right: 30px;
  }
  header label{
    margin: 0px;
  }
  footer ul{
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  footer li{
    font-size: 15px;
  }
    .content {
      flex-direction: column;
      align-items: center;
    }
    
    article {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  
    .content img {
      width: 100%;
      height: auto;
    }
  
    .info {
      width: 100%;
      flex-direction: column;
    }
  
    .buy {
      justify-content: center;
    }
  
    .info p {
      font-size: 0.8rem;
    }
    footer ul{
      display: flex;
      flex-direction: column;
      height: 200px;
      font-size: 20px;
  }
  }
.menu{
margin:0px 30px 0px 0px;

}
.menu a{
  clear:right;
  text-decoration:none;
  color:grey;
  margin:0px 10px;
  line-height:70px;
}

label{
  margin:0px 40px 0px 0px;
  font-size:26px;
  line-height:70px;
  display:none;
  width:26px;
  float:right;
}
#toggle{
  display:none;
}

@media only screen and (max-width:768px){
  label{
    display:block;
    cursor:pointer;
  }
  .menu{
    width:100%;
    text-align:center;
    display:none;
  }
  
  .menu a{
    display:block;
    border:1px solid #EAEEEB;
    margin:0px;
  }
  
  #toggle:checked+.menu{
    display:flex;
    flex-direction: column;
    margin-top: 90px;
  }
}