body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}
header{
    background-color: black;
    width: 100%;
}
.logo{
    height: 90px;
}
.logo img{
    width: 99%;
    padding: 0px;
    margin: 0px;
    transition: 2.5s;
}
.logo img:hover{
    filter: invert(100%);
    transition: 2.5s;
}
header ul{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
header li{
    display: flex;
    align-items: center;
    list-style: none;
}
.logo{
    width: 100px
}
header a{
    width: 100px;
}
#zegar{
    font-size: 20px;
    display: flex;
    color: white;
    margin-right: 20px;
}
#zegar div{
    display: flex;
    align-items: center;
}
.meny{
    margin:0px 30px 0px 0px;
    display: flex;
    align-items: center;
}
.menu a{
	border: none;
	display: block;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	position: relative;
	font-weight: 600;
	font-size: 15px;
	padding: 10px 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}
.menu a span{
	position: relative;
	z-index: 1;
}
.menu a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 490%;
	width: 140%;
	background: yellow;
	transition: all 0.5s ease-in-out;
	transform: translateX(-15%) translateY(-85%) rotate(45deg);
}
.menu a:hover:after {
	transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.menu{
    display: flex;
    margin:0px 30px 0px 0px;
}
.menu a{
    clear:right;
    text-decoration:none;  
    color: grey;
    line-height:70px;
}
label{
    margin:0px 40px 0px 0px;
    font-size:26px;
    line-height:70px;
    display:none;
    width:26px;
    float:right;
}
#toggle{
    display:none;
}
.sectionpodstronaart{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: block;
}
.sectionpodstronaart2{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}
.toppodstronaart{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 50px;
    width: 80%
}
.zdjęciaart{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
}
#zdjęcie img{
    width: 100%;
}
.opispodstronaart{
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    width: 50%;
    margin: 0 20px;
    background-color: white;
-webkit-box-shadow: 0px 0px 8px -2px rgb(26, 26, 26);
-moz-box-shadow: 0px 0px 8px -2px rgb(49, 49, 49);
box-shadow: 0px 0px 8px -2px rgb(24, 24, 24);
}
.bottompodstronaart{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.buy{
    display: flex;
    margin-bottom: 10px;
}
.bottompodstronaart button{
    padding: 5px 50px;
    background-color: gold;
    margin: 0 20px 0 0;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
footer{
    background-color: black;
    width: 100%;
    margin-top: 96px;
}
footer li{
    list-style: none;
    color: white;
}
footer ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
@media only screen and (max-width:500px){
    header{
        background-color: white;
    }
    label{
        display:block;
        cursor:pointer;
    }
    .menu{
        margin-top: 90px;
        position: absolute;
        background-color: aliceblue;
        width:100%;
        text-align:center;
        display:none;
    }
    .menu a{
        display:block;
        border:1px solid grey;
        margin:0px;
        width: 100%;
    }
    #toggle:checked+.menu{
        display:block;
    }
    .menu a {
        border: none;
        display: block;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: gray;
        font-weight: 600;
        font-size: 15px;
        background-color: #222;
        padding: 17px 40px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    .menu a span {
        position: relative;
        z-index: 1;
    }
    
    .menu a:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: yellow;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    
    .menu a:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
    .meny{
    width: 100%;
    }
    header{
        display: flex;
        width: 100%;
        height: 110px;
      }
      header ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      header .logo{
        order: 1;
        position: absolute;
      }
      header #zegar{
        order: 2;
        display: none;
      }
      header .meny{
        order: 3;
        display: block;
        margin: 0px;
        padding: 0px;
      }
      header .menu{
        margin-right: 30px;
      }
      header label{
        margin: 0px;
      }
      footer ul{
        display: flex;
        flex-direction: column;
        height: 300px;
      }
      footer li{
        font-size: 15px;
      }
}
@media only screen and (max-width:800px){
    footer ul{
        display: flex;
        flex-direction: column;
        height: 200px;
        font-size: 20px;
    }
    #opis{
        overflow-y: auto;
        height: 400px;
    }
    .zdjęciaart{
        width: 100%;
    }
    .opispodstronaart{
        width: 80%;
    }
}
@media only screen and (max-width:1100px){
    .toppodstronaart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .toppodstronaart img{
        margin-bottom: 20px;
    }
}